In [4]:
#list mylist=[] #
myList=list()
mylist=['abcd',123,23.4,'python',34.5]
print(mylist)
print(mylist[0])
print(mylist[1:3])

['abcd', 123, 23.4, 'python', 34.5]
abcd
[123, 23.4]

In [7]:
mylist=[10,50,80,50,35,90,100,50,80]
print(mylist.index(50))
print(mylist.index(50,4))
print(mylist.index(35,4,8))

1
7
4

In [9]:
mylist=[1,2,3,4,5]
print(len(mylist))
mylist.extend([6,7,8])
print(mylist)

5
[1, 2, 3, 4, 5, 6, 7, 8]

In [23]:
mylist=[1,2,3,4,5]
mylist[:2]=[8,9]
print(mylist)

[8, 9, 3, 4, 5]

In [27]:
mylist=[1,2,3,4,5]
print(min(mylist))
print(max(mylist))

1
5

In [30]:
pow3=[3**x for x in range(10)]
print (pow3)
pow3=[3**x for x in range(10) if x>5]
print (pow3)
even=[x for x in range(10) if x%2==0]
print(even)

[1, 3, 9, 27, 81, 243, 729, 2187, 6561, 19683]
[729, 2187, 6561, 19683]
[0, 2, 4, 6, 8]

In [31]:
my_tup=('python','hadoop','java','c')
print(my_tup[0])
print(my_tup[-1])

python
c

In [32]:
mylist=(10,40,50,80,100,[50,80,90,40])
mylist[5].extend([60,200,300])
print(mylist[5])

[50, 80, 90, 40, 60, 200, 300]

In [35]:
my_tuple=("cdac","patna")
print(list(enumerate(my_tuple)))

[(0, 'cdac'), (1, 'patna')]

In [53]:
mylist=["cdac","patna"]
print(list(enumerate(mylist)))

TypeError: 'list' object is not callable

In [59]:
s='CDAC INDIA'
print(s[0:3])
print(s[1:-1])
print(s[3::2])
print(s[::3])
print(s[::-2])

CDA
DAC INDI
CIDA
CCNA
ADICD

In [62]:
s='SUJATA'
print(s[1:-1])
print(s[::-2])
print(s[::3])

UJAT
AAU
SA

In [64]:
a1="python"
a2="JAVA"
a3="Android"
print("|{:<10}|{:^20}|{:>10}".format(a1,a2,a3))
print("|{:<10}|{:^20}|{:>10}".format(a1,a2,a3))

|python    |        JAVA        |   Android
|python    |        JAVA        |   Android

In [70]:
str1="cdac india"
str2=str1.upper()
print(str2)
print(str1)

CDAC INDIA
cdac india

In [73]:
cities="patna,noida,delhi,mumbai,kolkata"
newdata=cities.split(",")
print(newdata)

['patna', 'noida', 'delhi', 'mumbai', 'kolkata']