In [18]:
#we can use * fror string repetation
str='BIPARD-PATNA'
print(str[0:8])

#without formating

s1="python"
s2="java"
s3="database"
s4="SQL"
print(" | {:<10} | {:^20} |{:>10} | {:>10}".format(s1,s2,s3,s4))
print(" | {:<10} | {:^20} |{:>10} | {:>10}".format(s1,s2,s3,s4))
print(" | {:<10} | {:^20} |{:>10} | {:>10}".format(s1,s2,s3,s4))

BIPARD-P
 | python     |         java         |  database |        SQL
 | python     |         java         |  database |        SQL
 | python     |         java         |  database |        SQL

In [29]:
#string methods
string1="JAVA"
string2="SQL"
string3="DATABASE"
resp=string1.lower()
print(resp)


cities="Patna,Delhi,Forbesganj,Purnea,Araria,Bangalore,Hyderabad"
print(cities.split(","))

java
['Patna', 'Delhi', 'Forbesganj', 'Purnea', 'Araria', 'Bangalore', 'Hyderabad']