In [ ]:
tuple_demo=('pankaj','ramu','raju')
print(tuple_demo)